<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav accordion" id="sideBar">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark " role="button" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-user-circle"></i><span class="hide-menu itemMenu">User </span></a>
                    <ul id="collapseOne" class="collapse" data-parent="#sideBar">
                        <li><a routerLinkActive="active" class="itemMenu" routerLink="/perfil">Mi Perfil </a></li>
                        <li><a routerLinkActive="active" class="itemMenu" routerLink="/perfil">Editar Perfil</a></li>
                        <li><a (click)="_usuarioService.logout()" style="cursor:pointer" class="itemMenu">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li> <a class="has-arrow waves-effect waves-dark" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="far fa-folder"></i><span routerLinkActive="active" routerLink="/dash" class="hide-menu itemMenu"> Proyectos </span></a>
                    <ul id="collapseTwo" class="collapse" data-parent="#sideBar">
                        <li><a routerLinkActive="active" class="itemMenu" routerLink="/dash1"><i class="far fa-folder-open"></i><span > Proyecto 1</span> </a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" role="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="far fa-file-code"></i><span routerLinkActive="active" routerLink="/dash" class="hide-menu itemMenu"> Snippets </span></a>
                    <ul id="collapseThree" class="collapse" data-parent="#sideBar">
                        <li><a routerLinkActive="active" class="itemMenu" routerLink="/dash11"><i class="far fa-file-code"></i><span > Snippet 1</span> </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->