.item {
    border: 3px solid #fff;
    padding: 1em;
    background-color: #393e46;
    height: 25vw;
    color: white!important;
}

@media screenand and (max-width: 720px) {
    .item {
        height: 40vw;
    }
}