<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand ml-0" href="/index">
            <img src="assets/images/logo-oficial.png" alt="homepage" class="dark-logo logoHeader" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Inicia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registro">Registrate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- HEADER -->

<!-- NEWSLETTER  -->
<section id="newsletter" class="bg-dark text-white py-5 header">
    <div class="container titulo">
        <div class="row my-5">
            <div class="col-md-3">

            </div>
            <div class="col-md-6 text-center justify-content-center align-self-center">
                <img src="../../assets/images/nombre-oficial.png" alt=""><br>
                <h3 class="descripcion">Crea tus proyectos de front-end facil y rapido</h3>
                <h4 class="descripcion">¡¡Comienza ahora!!</h4>
                <div class="container my-5">
                    <button class="btn btn-outline-primary px-4 " style="margin-right: 1em;" routerLink="/login">Inicia</button>
                    <button class="btn btn-outline-light" routerLink="/login" routerLink="/registro">Registrate</button>
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</section>


<section class="py-5">
    <div class="container">
        <div class="text-center my-0 mb-5">
            <h2 class="descripcion2">Todo en un solo lugar</h2>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card text-center border-primary">
                    <div class="card-body">
                        <h3 class="descripcion2">HTML 5</h3>
                        <p>
                            <i class="fab fa-html5 logoF " style="color:#DD4B25 "></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card text-center border-primary " style="color:#1572B7 ">
                    <div class="card-body ">
                        <h3 class="descripcion2">CSS 3</h3>
                        <p>
                            <i class="fab fa-css3-alt logoF"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center border-primary">
                    <div class="card-body">
                        <h3 class="descripcion2">JS </h3>
                        <p>
                            <i class="fab fa-js logoF " style="color:#E9CA32 "></i>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- TEAM -->
<section class="text-center team ">
    <div class="container p-5 ">
        <h1 class="text-center text-white ">Elije el plan que se ajuste a tus necesidades</h1>
        <p class="text-white ">

        </p>
        <div class="row ">
            <div class="col-lg-4 ">
                <div class="card plan">
                    <div class="card-body ">
                        <i class="fas fa-user logoPlan"></i>
                        <h3 class="descripcion2">Noob</h3>
                        <div class="d-flex flex-row ">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Precio</td>
                                        <td>Gratis</td>


                                    </tr>
                                    <tr>
                                        <td># Proyectos</td>
                                        <td>1</td>


                                    </tr>
                                    <tr>
                                        <td># Snippets</td>
                                        <td>Ilimitados</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 ">
                <div class="card plan">
                    <div class="card-body ">
                        <i class="fas fa-user-graduate logoPlan"></i>
                        <h3 class="descripcion2">Junior</h3>

                        <div class="d-flex flex-row justify-content-center ">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Precio</td>
                                        <td>$2.99/mes</td>


                                    </tr>
                                    <tr>
                                        <td># Proyectos</td>
                                        <td>10</td>


                                    </tr>
                                    <tr>
                                        <td># Snippets</td>
                                        <td>Ilimitados</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 ">
                <div class="card plan">
                    <div class="card-body ">
                        <i class="fas fa-user-tie logoPlan"></i>
                        <h3 class="descripcion2">Senior</h3>

                        <div class="d-flex flex-row justify-content-center ">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Precio</td>
                                        <td>$4.99/Mes</td>
                                    </tr>
                                    <tr>
                                        <td># Proyectos</td>
                                        <td>Ilimitados</td>
                                    </tr>
                                    <tr>
                                        <td># Snippets</td>
                                        <td>Ilimitados</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<footer>
    <div class="container p-3 ">
        <div class="row text-center text-white ">
            <div class="col ml-auto ">
                <p>© 2020 Kōdo</p>
            </div>
        </div>
    </div>
</footer>