<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand">
                <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                             <!-- Dark Logo icon -->
                            <img src="assets/images/logo-oficial.png"  alt="homepage" class="dark-logo logoHeader" />
                            </b>

                <!--End Logo icon -->
                <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="assets/images/nombre-oficial.png"  alt="homepage" class="dark-logo logoHeader" />
                        </span> </a>
        </div>

        <div class="navbar-collapse">

            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="fas fa-bars"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="fas fa-bars"></i></a> </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>

            <ul class="navbar-nav my-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img [src]="usuario.img | imagen" alt="user" class="profile-pic">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box text-center">
                                    <div class="u-img text-center"> <img [src]="usuario.img | imagen" alt="user"></div>
                                    <div class="u-text text-center" style="display: inline;">
                                        <h4>{{usuario.nombreUsuario}}</h4>
                                        <p class="text-muted">{{usuario.email}}</p>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a routerLink="/perfil"><i class="ti-user"></i> Perfil</a></li>
                            <li><a routerLink="/perfil"><i class="ti-wallet"></i> Editar Perfil</a></li>
                            <li><a (click)="_usuarioService.logout()" style="cursor:pointer"><i class="ti-email"></i> Cerrar sesión</a></li>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>