<section class="text-center team ">
    <div class="container p-5 ">
        <h1 class="text-center text-white py-5">Elije el plan que se ajuste a tus necesidades</h1>
        <p class="text-white ">

        </p>
        <div class="row ">
            <div class="col-lg-4 ">
                <div class="card plan" routerLink="/dash">
                    <div class="card-body ">
                        <i class="fas fa-user logoPlan"></i>
                        <h3 class="descripcion2">Noob</h3>
                        <div class="d-flex flex-row ">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Precio</td>
                                        <td>Gratis</td>


                                    </tr>
                                    <tr>
                                        <td># Proyectos</td>
                                        <td>1</td>


                                    </tr>
                                    <tr>
                                        <td># Archivos/Poyecto</td>
                                        <td>3</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 ">
                <div class="card plan" routerLink="/dash">
                    <div class="card-body ">
                        <i class="fas fa-user-graduate logoPlan"></i>
                        <h3 class="descripcion2">Junior</h3>

                        <div class="d-flex flex-row justify-content-center ">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Precio</td>
                                        <td>$2.99/mes</td>


                                    </tr>
                                    <tr>
                                        <td># Proyectos</td>
                                        <td>10</td>


                                    </tr>
                                    <tr>
                                        <td># Archivos/Poyecto</td>
                                        <td>Ilimitados</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 ">
                <div class="card plan" routerLink="/dash">
                    <div class="card-body ">
                        <i class="fas fa-user-tie logoPlan"></i>
                        <h3 class="descripcion2">Senior</h3>

                        <div class="d-flex flex-row justify-content-center ">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Precio</td>
                                        <td>$4.99/Mes</td>


                                    </tr>
                                    <tr>
                                        <td># Proyectos</td>
                                        <td>Ilimitados</td>


                                    </tr>
                                    <tr>
                                        <td># Archivos/Poyecto</td>
                                        <td>Ilimitados</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<footer>
    <div class="container p-3 ">
        <div class="row text-center text-white ">
            <div class="col ml-auto ">
                <p>© 2020 Kōdo</p>
            </div>
        </div>
    </div>
</footer>